<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Adressbuilding</th>
      <th>Fullnamebuildingadmin</th>
      <th>Emailadminbuilding</th>
      <th>Phonenumberbuildingadmin</th>
      <th>Fullnametechcontact</th>
      <th>Techcontactemail</th>
      <th>Techcontactphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.AdressBuilding %></td>
        <td><%= building.FullNameBuildingAdmin %></td>
        <td><%= building.EmailAdminBuilding %></td>
        <td><%= building.PhoneNumberBuildingAdmin %></td>
        <td><%= building.FullNameTechContact %></td>
        <td><%= building.TechContactEmail %></td>
        <td><%= building.TechContactPhone %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
