<p id="notice"><%= notice %></p>

<h1>Interventions</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>CustomerID</th>
      <th>BuildingID</th>
      <th>BatteryID</th>
      <th>ColumnID</th>
      <th>ElevatorID</th>
      <th>EmployeeID</th>
      <th>StartDate</th>
      <th>EndDate</th>
      <th>Result</th>
      <th>Report</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
      <tr>
        <td><%= intervention.Author %></td>
        <td><%= intervention.CustomerID %></td>
        <td><%= intervention.BuildingID %></td>
        <td><%= intervention.BatteryID %></td>
        <td><%= intervention.ColumnID %></td>
        <td><%= intervention.ElevatorID %></td>
        <td><%= intervention.EmployeeID %></td>
        <td><%= intervention.StartDate %></td>
        <td><%= intervention.EndDate %></td>
        <td><%= intervention.Result %></td>
        <td><%= intervention.Report %></td>
        <td><%= intervention.Status %></td>
        <td><%= link_to 'Show', intervention %></td>
        <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
        <td><%= link_to 'New Intervention', new_intervention_path %><td>
        <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervention', new_intervention_path %>