<p id="notice"><%= notice %></p>

<h1>Interventions</h1>

<table>
  <thead>
    <tr>
      <th>Ticket Author</th>
      <th>Customer ID</th>
      <th>Building ID</th>
      <th>Battery ID</th>
      <th>Column ID</th>
      <th>Elevator ID</th>
      <th>Employee ID</th>
      <th>Intervention Start Date</th>
      <th>Intervention End Date</th>
      <th>Result</th>
      <th>Report</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
      <tr>
        <td><%= intervention.author %></td>
        <td><%= intervention.customerID %></td>
        <td><%= intervention.buildingID %></td>
        <td><%= intervention.batteryID %></td>
        <td><%= intervention.columnID %></td>
        <td><%= intervention.elevatorID %></td>
        <td><%= intervention.employeeID %></td>
        <td><%= intervention.startDate %></td>
        <td><%= intervention.endDate %></td>
        <td><%= intervention.result %></td>
        <td><%= intervention.report %></td>
        <td><%= intervention.status %></td>
        <td><%= link_to 'Show', intervention %></td>
        <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
        <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervention', new_intervention_path %>