<p> There is <%= Elevator.count / Customer.count %> elevator per customer </p>

<p> There is <%=Lead.where('extract(month from created_at) = ?', 1).count%> contact us sent for the time period : 2022/01/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 2).count%> contact us sent for the time period : 2022/02/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 3).count%> contact us sent for the time period : 2022/03/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 4).count%> contact us sent for the time period : 2022/04/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 5).count%> contact us sent for the time period : 2022/05/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 6).count%> contact us sent for the time period : 2022/06/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 7).count%> contact us sent for the time period : 2022/07/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 8).count%> contact us sent for the time period : 2022/08/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 9).count%> contact us sent for the time period : 2022/09/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 10).count%> contact us sent for the time period : 2022/10/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 11).count%> contact us sent for the time period : 2022/11/..
<p> There is <%=Lead.where('extract(month from created_at) = ?', 12).count%> contact us sent for the time period : 2022/12/..
<br>
<br>
<br>
<br>
<p> There is <%=Quote.where('extract(month from created_at) = ?', 1).count%> Quote form sent for the time period : 2022/01/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 2).count%> Quote form sent for the time period : 2022/02/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 3).count%> Quote form sent for the time period : 2022/03/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 4).count%> Quote form sent for the time period : 2022/04/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 5).count%> Quote form sent for the time period : 2022/05/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 6).count%> Quote form sent for the time period : 2022/06/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 7).count%> Quote form sent for the time period : 2022/07/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 8).count%> Quote form sent for the time period : 2022/08/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 9).count%> Quote form sent for the time period : 2022/09/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 10).count%> Quote form sent for the time period : 2022/10/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 11).count%> Quote form sent for the time period : 2022/11/..
<p> There is <%=Quote.where('extract(month from created_at) = ?', 12).count%> Quote form sent for the time period : 2022/12/..
