<p id="notice"><%= notice %></p>

<p>
  <strong>Buildingtype:</strong>
  <%= @quote.buildingType %>
</p>

<p>
  <strong>Nbrappbuild:</strong>
  <%= @quote.nbrAppBuild %>
</p>

<p>
  <strong>Nbrfloorsr:</strong>
  <%= @quote.nbrFloorsR %>
</p>

<p>
  <strong>Nbrfloorsc:</strong>
  <%= @quote.nbrFloorsC %>
</p>

<p>
  <strong>Nbrfloorscor:</strong>
  <%= @quote.nbrFloorsCor %>
</p>

<p>
  <strong>Nbrfloorsh:</strong>
  <%= @quote.nbrFloorsH %>
</p>

<p>
  <strong>Nbrbasementfloorsr:</strong>
  <%= @quote.nbrBasementFloorsR %>
</p>

<p>
  <strong>Nbrbasementfloorsc:</strong>
  <%= @quote.nbrBasementFloorsC %>
</p>

<p>
  <strong>Nbrbasementfloorscor:</strong>
  <%= @quote.nbrBasementFloorsCor %>
</p>

<p>
  <strong>Nbrbasementfloorsh:</strong>
  <%= @quote.nbrBasementFloorsH %>
</p>

<p>
  <strong>Nbrdisbuicor:</strong>
  <%= @quote.nbrDisBuiCor %>
</p>

<p>
  <strong>Nbrdisbuih:</strong>
  <%= @quote.nbrDisBuiH %>
</p>

<p>
  <strong>Nbrparkingc:</strong>
  <%= @quote.nbrParkingC %>
</p>

<p>
  <strong>Nbrparkingcor:</strong>
  <%= @quote.nbrParkingCor %>
</p>

<p>
  <strong>Nbrparkingh:</strong>
  <%= @quote.nbrParkingH %>
</p>

<p>
  <strong>Nbrelevatorcages:</strong>
  <%= @quote.nbrElevatorCages %>
</p>

<p>
  <strong>Nbroccperfloorcor:</strong>
  <%= @quote.nbrOccPerFloorCor %>
</p>

<p>
  <strong>Nbroccperfloorh:</strong>
  <%= @quote.nbrOccPerFloorH %>
</p>

<p>
  <strong>Nbractperday:</strong>
  <%= @quote.nbrActPerDay %>
</p>

<p>
  <strong>Servicetype:</strong>
  <%= @quote.serviceType %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
