<p id="notice"><%= notice %></p>

<p>
  <strong>Col a:</strong>
  <%= @test.col_a %>
</p>

<p>
  <strong>Col b:</strong>
  <%= @test.col_b %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
